<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container text-primary ">
  <!-- Footer -->
  <footer
    class="text-center text-lg-start"
    style="background-color: #eff2f5 !important;"
  >
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-between"
      style="background-color: #eff2f5 !important;"
    >
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div class="mr-3">
        <a href="" class="mr-2 me-2">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="" class="mr-2 me-4">
          <i class="fab fa-twitter-square"></i>
        </a>
        <a href="" class="mr-2 me-4">
          <i class="fab fa-google-plus"></i>
        </a>
        <a href="" class="mr-2 me-4">
          <i class="fab fa-instagram-square"></i>
        </a>
        <a href="" class="mr-2 me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->

    </section>
    <!-- Section: Social media -->
    <!-- Copyright -->
    <div
      class="text-center p-3"
      style="background-color: #eff2f5 !important;"
    >
      © 2020 Copyright:
      <a class="text-decoration-none" href="https://www.linkedin.com/in/souleymane-sanokho"
      >SANOKH❤</a
      >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
